<p id="notice"><%= notice %></p>

<p>
  <strong>Common name:</strong>
  <%= @plant.common_name %>
</p>

<%= link_to 'Edit', edit_forest_plant_path(@forest, @plant) %> |
<%= link_to 'Back', forest_plants_path(@forest) %>
