// Utility colors
$color-extra-light-gray: #F2F2F2;
$color-light-gray: #C8CCCD;
$color-medium-gray: #95979b;
$color-dark-gray: #51535A;
$color-almost-black: #1E3141;
$color-black: #000000;

// Semisto.org colors
// Palette found on http://madewithmichelle.com/colors-of-petrified-forest/
$color-green: #CFB51C;
$color-purple: #927AA3;
$color-pink: #B36189;
$color-red: #D85965;
$color-blue: #434771;

// Interface colors
$color-success: $color-green;
$color-warning: $color-pink;
$color-alert: $color-red;

// Labels colors
$color-label-blue: rgba(41, 121, 184, 1);
$color-label-green: rgba(107, 176, 63, 1);
$color-label-orange: rgba(255, 125, 40, 1);
$color-label-purple: rgba(142, 62, 99, 1);
$color-label-gray: $color-dark-gray;
$color-label-red: #E64F33;
